header {
    background: linear-gradient(315deg, #85e2f8 3%,#e323aa 38%, #fb9103 68%, #fb005a 98%);
    animation: gradient 26s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}
.end-site {
    height: 56px;
    text-align: center;
    width: 100%;
    padding: 10px;
    background: linear-gradient(315deg, #0077ff 3%,#fff25d 38%, #03fb0f 68%, #f53c80 98%);
    animation: gradient 26s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}
body {
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 25% 75%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}
@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}